# Discord Bot Token (from https://discord.com/developers/applications)
DISCORD_TOKEN=tu_token_aqui

# Client ID (from Developer Portal > General Information)
CLIENT_ID=tu_client_id_aqui

# Guild ID (Server ID - right click server > Copy ID)
GUILD_ID=tu_guild_id_aqui
